{% extends "blog/base.html" %}
{% load staticfiles %}
{% block head %}
    <title>product</title>
{% endblock %}
{% block body %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">{{item.title}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="#">
                        <img src="{{ item.image.url }}" class="img-responsive img-thumbnail" alt="img">
                    </a>
            <h1 contenteditable="true" class="text-center">{{item.cost}}$</h1>
          </div>
          <div class="col-md-6">
            <p class="text-center" contenteditable="true">{{item.description}}</p>
          </div>

          <div class="col-md-6">
            <p class="text-center" contenteditable="true">{{item.weight}}gramm</p>
          </div>
            <div class="col-md-6">
            <p class="text-center" contenteditable="true">{{item.category}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-lg btn-success" contenteditable="true">Add to card</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}