{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflareg.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/main.css" rel="stylesheet" type="text/css">
</head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<body>


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="/index" class="btn btn-lg btn-warning">Home</a>
                </div>
                <div class="col-md-2">
                    <a href="/check_out" class="btn btn-lg btn-warning">Check out</a>
                </div>
                <div class="col-md-4">
                    <a href="/shop" class="btn btn-lg btn-warning">Chocolate shop</a>
                </div>
                <div class="col-md-2">
                    <a href="/gift_card" class="btn btn-lg btn-warning">Gift card</a>
                </div>
                <div class="col-md-2">
                    <a href="/shopping_cart" class="btn btn-lg btn-warning">
                        <span class="badge">5</span>
                        Shopping cart
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <a href="#">
                        <img src="images/2.jpg" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-4">
                    <p></p>
                    <div>
                        The aptly named Candyland Bar is loaded to the gills with surprises. Every centimeter of rich milk chocolate is packed with a variety of treats. From bite to bite you could either get the solid crunch of candy-coated chocolate candies, or the chewy goodness of the gummy bear. If you want to keep your mouth guessing, if you want a magical variety of flavors and textures, if you’re just plain bored with soulless, pedestrian, mass produced sugar sadness grab a Candyland Bar and love your candy all over again!
                    </div>
                    <div>&nbsp;</div>
                    <div>Belgian Milk Chocolate</div>
                    <div>
                        <br></div>
                    <div>3.5oz (100g)</div>
                    <div>
                        <br></div>
                    <div>Gummi Bears</div>
                    <div>
                        Chocolate CandyThe aptly named Candyland Bar is loaded to the gills with surprises. Every centimeter of rich milk chocolate is packed with a variety of treats. From bite to bite you could either get the solid crunch of candy-coated chocolate candies, or the chewy goodness of the gummy bear. If you want to keep your mouth guessing, if you want a magical variety of flavors and textures, if you’re just plain bored with soulless, pedestrian, mass produced sugar sadness grab a Candyland Bar and love your candy all over again!
 
                        Belgian Milk Chocolate

                        3.5oz (100g)

                        Gummi Bears
                        Chocolate Candy
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-lg btn-success" contenteditable="true">Add to card</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>