{% extends "blog/base.html" %}
{% load staticfiles %}
{% load get_rows_range %}
{% load get_slice %}
{% load count_category %}
{% load format %}
{% block head %}
    <title>product</title>
{% endblock %}
{% block body %}
    <script>
        $(document).ready(function(){
          $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
          });
          $( "button.add" ).click(function(){
            var current_button = $(this);
            $.ajax({
                url: "/add-to-cart/",
                type: "POST",
                data: {"item": $(this).attr('id')},
                success: function(data){
                  current_button.replaceWith( data );
                }
            });
           });
        });
    </script>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-group">
                        {% for item in categories %}
                        <a href="/shop/{{ item.name|format }}">
                            <li class="list-group-item">
                            {{ item.name }}
                            <span class="badge">{{ item|count_category }}</span>
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-8">
                    <img src="/static/images/variety_of_artisanal_chocolate_pralines_postcard-r69eb08f39cd448098340bafe7c935921_vgbaq_8byvr_324.jpg" class="center-block img-responsive img-thumbnail" alt="img"></div>
            </div>
        </div>
    </div>
    {% for i in items|get_rows_range %}
            <div class="section">
                <div class="container">
                    <div class="row">
                        {% for item in items|get_slice:i %}
                            <div class="col-md-3">
                                <a href="/product/{{ item.title|format }}">
                                <img src="{{ item.image.url }}" class="img-responsive img-thumbnail" alt="img">
                                <h2>{{ item.title }}</h2>
                                </a>
                                <button id="item{{ item.id }}" class="add">
                                Add to cart</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    {% endfor %}
{% endblock %}