{% extends "blog/base.html" %}
{% load staticfiles %}
{% load get_rows_range %}
{% load get_slice %}
{% load get_by_index %}
{% block head %}
    <title>shopping_cart</title>
{% endblock %}
{% block body %}
    <div class="section text-right">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section text-right">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-right">Search</h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-offset-3 col-md-6"></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <form role="form">
                      <div class="form-group">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-btn">
                            <a class="btn btn-success" type="submit">Go</a>
                          </span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Product Name</th>
                  <th>Unit Price</th>
                  <th>Quantity</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
              {% for item in items|get_by_index:0%}
                <tr>
                  <td >{{ item.id }}</td>
                  <td> <a href="/product/{{ item.id }}"> {{ item.title }}</a> </td>
                  <td> {{ item.cost }} $</td>
                  <td contenteditable="true">3</td>
                  <td>
                    <a href="#"><i class="fa fa-3x fa-fw fa-check-square-o"></i></a>
                  </td>
                </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row"></div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <h3>You are to pay:</h3>
 <p>{{ paypal_dict.amount }} {{ paypal_dict.currency_code }}</p>
 <p>Invoice: {{ paypal_dict.invoice }}</p>
 <br />
 <p>Pay with PayPal:</p>
 {{ form.render }}
        </div>
      </div>
    </div>
{% endblock %}